[{{ ELK_version }}]
name=ELK repository for {{ ELK_version }} packages
baseurl=https://artifacts.elastic.co/packages/{{ ELK_version }}/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
